services:
  postgres:
    image: postgres:15-alpine 
    container_name: banking-postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=bankdb       # 資料庫名稱
      - POSTGRES_USER=postgres   # 帳號
      - POSTGRES_PASSWORD=password # 密碼
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    restart: always